geosnap                         # NOTE: need current dev version of geosnap, this is just to install deps from conda
segregation >=2.1
hvplot
streamlit
streamlit-folium
bokeh <=2.2
folium >=0.12
proplot
botocore >=1.20.21
git+https://github.com/martinfleis/geopandas-view.git
git+https://github.com/knaaptime/geosnap.git@segdyn  # should get my segdyn branch, which has the new code
